<div class="jumbotron">
  <div class="container">
  <h1>Welcome!</h1>
  <p>製品に関する情報交換をしよう</p>
<!--   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a> -->
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div><h3>製品名で検索</h3></div>
      <div>
      <%= form_tag('/products/search', method: :get) do %>
        <div class="form-group">
          <input class="form-control" name="keyword" placeholder="製品名で検索" type="text" value="" ></input>
          <button class="btn btn-default" title="検索" type="submit">検索</button>
        </div>
      <% end %>
    </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <h3>メーカーから検索</h3>
      <% @corporations.each do |corporation| %>
      <div class="col-6">
          <div class="thumbnail text-center">
            <a href="/corporations/<%= corporation.id %>"><img src="<%= corporation.image_url %>" class="corporation_image" ></a>
          </div>
    </div>
      <% end %>
    </div>

    <div class="col-sm-6 col-md-4">
      <h3>製品種別から検索</h3>
      <p>チェア・ユニット</p>
      <p>hoge</p>
      <p>huga</p>
    </div>

  </div>
</div>
