<div class="container">
  <header>
    <h2>製品の検索</h2>
    <!-- 製品名での検索 -->
    <%= form_tag('/products/search', method: :get) do %>
    <input class="search__query" name="keyword" placeholder="製品名で検索" type="text" value=""></input>
    <button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button>
    <% end %>
    <!-- 製品種類での検索 -->
     <!-- 製品種類(チェア，その他機器など)のアイコンを設置  -->

    <!-- メーカー別の検索 -->
      <!-- メーカーのアイコンを表示して -->
  </header>

  <article class="section">
    <h2>検索結果</h2>
      <% @products.each do |product| %>
      <div class="col-xs-6 col-lg-4 row-eq-height">
        <h4><%= product.product_name %></h4>
        <image src="<%= product.image_url %>" class="product_image"></image>
      </div>
      <% end %>
  </article>
</div>
